---
import LinksUteis from "../components/links-uteis.astro";
import Beneficios from "../components/beneficios.astro";
import Footer from "../components/footer.astro";
import Participar from "../components/participar.astro";
import Hero from "../components/hero.astro";
import Menu from "../components/menu.astro";

import "@fontsource/inter/variable.css";
import "~/styles/index.css";
import Ranking from "../components/ranking.astro";

const { generator, site } = Astro;
const favicon = new URL("logo.svg", site);
const ogImage = new URL("og-image.jpeg", site);
const title = "#100DiasDeCodigo: Evolua Programando Diariamente";
const description =
  "Junte-se ao #100DiasDeCodigo! Programe diariamente, construa projetos impactantes para o seu currículo e conecte-se com uma comunidade que incentiva a constante aprendizagem e superação da procrastinação.";
---

<!DOCTYPE html>
<html lang="pt-br" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={favicon} type="image/svg+xml" />
    <meta name="generator" content={generator} />
    <!-- Primary Meta Tags -->
    <title>#100DiasDeCodigo: Evolua Programando Diariamente</title>
    <link rel="canonical" href={site} />
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={title} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />

    <!-- theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>

  <body
    class="h-full overflow-x-hidden bg-primary text-default text-base selection:bg-secondary selection:text-white"
  >
    <Menu />
    <Hero />
    <div id="como-participar" class="space-y-24 bg-primary px-8 py-32">
      <Participar />
    </div>
    <div class="space-y-24 bg-secondary px-8 py-32">
      <Beneficios />
      <!--       <Compatibility />
      <Showcase /> -->
    </div>
    <div class="space-y-24 bg-primary px-8 py-32">
      <LinksUteis />
      <!--       <Compatibility />
      <Showcase /> -->
    </div>
    <div class="space-y-24 bg-primary px-8 py-32">
      <Ranking />
    </div>
    <Footer />
  </body>
</html>
